Repository Sachin-chaurasiya/Code-Snippets-Builder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

.lintstagedrc.yaml:

'*.{ts,tsx}':
  # Run ESLint
  - eslint 'src/**/*.{ts,tsx}' --fix

# Run Prettier
'src/**': prettier --write

chore(ui0: add @babel/plugin-proposal-private-property-in-object in dev dependency
  package.json
  yarn.lock
Due: none

feat: add support for transparent bg
  src/components/Editor/Configs/BackgroundConfig.tsx
  src/constants/editor.ts
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

chore: address comment
  src/components/Editor/Configs/BackgroundConfig.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

feat: add support for transparent bg (#74)
  src/components/Editor/Configs/BackgroundConfig.tsx
  src/constants/editor.ts
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

fix: delete node editor issue for windows machine
  src/pages/EditorPage/EditorPage.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

fix: delete node editor issue for windows machine (#75)
  src/pages/EditorPage/EditorPage.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

fix: alert box should fade away after some delay
  src/components/Common/AuthForm/AuthForm.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

replaced state with useDisclosure
  src/components/Common/AuthForm/AuthForm.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

fix: alert box should fade away after some delay (#76)
  src/components/Common/AuthForm/AuthForm.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

chore: update social input placeholder in user profile
  src/pages/ProfilePage/ProfilePage.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

chore: update social input placeholder in user profile (#78)
  src/pages/ProfilePage/ProfilePage.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

fix: removed beacon when user click on tour button
  src/utils/TourUtils.ts
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

refactored code
  src/utils/TourUtils.ts
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

fix: removed beacon when user click on tour button (#80)
  src/utils/TourUtils.ts
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

fix error message format
  src/components/Common/AuthForm/AuthForm.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

fix error message format (#82)
  src/components/Common/AuthForm/AuthForm.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

feat: add functions
  package.json
  src/api/functions/appwrite.js
  src/api/functions/count.js
  yarn.lock
Due: prettier --write

create separate package
  .gitignore
  package.json
  src/api/functions/main.js
  src/api/functions/package-lock.json
  src/api/functions/package.json
  yarn.lock
Due: prettier --write

chore: update package json
  src/api/functions/package.json
Due: prettier --write

chore update main
  src/api/functions/main.js
Due: prettier --write

add env declaration
  src/api/functions/env.d.ts
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

chore: update the logic of document count
  src/api/functions/appwrite.js
  src/api/functions/main.js
Due: prettier --write

fix: build
  src/api/index.ts
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

feat: add functions (#84)
  .gitignore
  src/api/functions/appwrite.js
  src/api/functions/env.d.ts
  src/api/functions/main.js
  src/api/functions/package-lock.json
  src/api/functions/package.json
  src/api/index.ts
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

Update README.md
  README.md
Due: none

deploying with Appwrite
  src/api/functions/main.js
Due: prettier --write

refactor: component structure
  src/AppProvider.tsx
  src/components/AddButton/AddButton.tsx
  src/components/Common/Loader/SpinnerLoader.tsx
  src/components/SnippetList/SnippetList.tsx
  src/components/SnippetTemplates/SnippetTemplates.tsx
  src/constants/common.ts
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

refactor: component structure (#86)
  src/AppProvider.tsx
  src/components/AddButton/AddButton.tsx
  src/components/Common/Loader/SpinnerLoader.tsx
  src/components/SnippetList/SnippetList.tsx
  src/components/SnippetTemplates/SnippetTemplates.tsx
  src/constants/common.ts
  src/pages/DashboardPage/DashboardPage.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

feat(#87): add sorting and pagination for snippets
  src/AppRoutes.tsx
  src/components/Pagination/Pagination.tsx
  src/components/SnippetList/SnippetList.tsx
  src/components/Sorting/Sorting.tsx
  src/constants/common.ts
  src/constants/sidebar.ts
  src/interfaces/AppProvider.interface.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/pages/TemplatesPage/TemplatesPage.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

feat(#87): add sorting and pagination for snippets (#88)
  src/AppRoutes.tsx
  src/components/Pagination/Pagination.tsx
  src/components/SnippetList/SnippetList.tsx
  src/components/Sorting/Sorting.tsx
  src/constants/common.ts
  src/constants/sidebar.ts
  src/interfaces/AppProvider.interface.ts
  src/pages/DashboardPage/DashboardPage.tsx
  src/pages/TemplatesPage/TemplatesPage.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

fix: when duplicating the cover image is missing
  src/components/Common/Loader/SpinnerLoader.tsx
  src/components/SnippetList/SnippetList.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

Minor: update favicon
  public/favicon.png
Due: none

Fix: pagination total pages count issue
  src/components/SnippetList/SnippetList.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

Update brand color and border radius
  .nvmrc
  src/assets/svg/arrow-image.svg
  src/components/Common/AuthForm/AuthForm.tsx
  src/components/Common/BrandLogo/BrandLogo.tsx
  src/components/Common/CustomSwitch/CustomSwitch.tsx
  src/components/Common/EmailVerification.tsx
  src/components/Common/Footer/Footer.tsx
  src/components/Common/UpdateButton.tsx
  src/components/Editor/EditorControls/EditorControls.tsx
  src/components/Editor/ExportButton/ExportButton.tsx
  src/components/ErrorBoundary/ErrorFallback.tsx
  src/components/Navbar/Navbar.tsx
  src/components/Sidebar/NavItem.tsx
  src/constants/common.ts
  src/index.tsx
  src/pages/Home/Home.tsx
  src/pages/NotFound/NotFound.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

Update brand color and border radius (#93)
  .nvmrc
  src/assets/svg/arrow-image.svg
  src/components/Common/AuthForm/AuthForm.tsx
  src/components/Common/BrandLogo/BrandLogo.tsx
  src/components/Common/CustomSwitch/CustomSwitch.tsx
  src/components/Common/EmailVerification.tsx
  src/components/Common/Footer/Footer.tsx
  src/components/Common/UpdateButton.tsx
  src/components/Editor/EditorControls/EditorControls.tsx
  src/components/Editor/ExportButton/ExportButton.tsx
  src/components/ErrorBoundary/ErrorFallback.tsx
  src/components/Navbar/Navbar.tsx
  src/components/Sidebar/NavItem.tsx
  src/constants/common.ts
  src/index.tsx
  src/pages/Home/Home.tsx
  src/pages/NotFound/NotFound.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

Add StatsCard component
  package.json
  src/assets/svg/stats.svg
  src/components/Feature/Feature.tsx
  src/components/StatsCard/StatsCard.tsx
  src/constants/common.ts
  src/pages/Home/Home.tsx
  yarn.lock
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write

Refactor UI components and add new SVG images
  src/assets/svg/line-waves.svg
  src/assets/svg/spikes.svg
  src/assets/svg/stars.svg
  src/components/Common/AuthForm/AuthForm.tsx
  src/components/Navbar/Navbar.tsx
  src/components/StatsCard/StatsCard.tsx
  src/pages/Home/Home.tsx
Due: eslint 'src/**/*.{ts,tsx}' --fix, prettier --write
